.warna1 {
    background-color: #876445;
}

.warna2 {
    background-color: #CA965C;
}

.warna3 {
    background-color: #EEC373;
}

.warna4 {
    background-color: #F4DFBA;
}

.banner {
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../image/butik.png');
}

.highlighted-kategori {
    height: 250px;
}

.kategori-baju-pria {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../image/lqRN9ykW4cWRlmEG7866.jpg');
    background-size: cover;
    background-position: center;
}

.kategori-baju-wanita {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../image/ooo.jpg');
    background-size: cover;
    background-position: center;
}

.kategori-sepatu {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../image/33100748232a91e39b4662aa584aa6fd.jpg');
    background-size: cover;
    background-position: center;
}

.no-decoration {
    text-decoration: none;
    color: white;
}

.no-decoration:hover {
    color: #EEC373;
}

.text-harga {
    font-size: 22px;
    color: #CA965C;
}

.image-box {
    height: 250px;
}

.image-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.content-subscribe {
    background-color: rgba(0, 0, 0, 0.4);
}

.content-subscribe a {
    color: #fff;
}

.banner2 {
    height: 45vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../image/butik.png');
    background-position: 50% 35%;
}

.produk-terkait-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
